{% capture _strip_whitespace %}

{% assign showerified_content = '' %}

<!--
  Setup slide variables
-->

<!-- lang -->
{% capture lang %}{% if page.lang %}{{ page.lang }}{% else %}{{ site.default.lang }}{% endif %}{% endcapture %}
<!-- width -->
{% capture width %}{% if page.width %}{{ page.width }}{% else %}{{ site.default.width }}{% endif %}{% endcapture %}
<!-- theme -->
{% capture theme %}{% if page.theme %}{{ page.theme }}{% else %}{{ site.default.theme }}{% endif %}{% endcapture %}
<!-- mode -->
{% capture mode %}{% if page.mode %}{{ page.mode }}{% else %}{{ site.default.mode }}{% endif %}{% endcapture %}
<!-- progress -->
{% capture progress %}{% if page.progress %}{{ page.progress }}{% else %}{{ site.default.progress }}{% endif %}{% endcapture %}

<!--
  Insert sections
-->

{% assign slides = content | replace_first: '<h2', '' | split:'<h2' %}
{% for slide in slides %}
  {% capture slide_attrs %}{{ slide | split:'>' | first }}{% endcapture %}

  {% capture showerified_content %}{{ showerified_content }}
    <section{{ slide_attrs | replace_first:'class="','class="slide ' }}{% unless slide_attrs contains 'class' %} class="slide"{% endunless %}><div>
      <h2{{ slide | remove_first:slide_attrs | replace:'<li>…', '<li class="next">' }}
    </div></section>
  {% endcapture %}

{% endfor %}
{% endcapture %}