<!DOCTYPE HTML>{% include _setup.html %}
<html lang="{{ lang }}">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width={{ width }}, user-scalable=no">
    <link rel="stylesheet" href="themes/{{ theme }}/styles/screen.css">
    {% if page.style %}<style>{{ page.style }}</style>{%endif%}
</head>
<body class="{{ mode }}">
    <header class="caption">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}{{ page.subtitle }}{% endif %}
    </header>

    {% include _showerify.html %}{{ showerify_output }}

    {% if page.badge.text %}<p class="badge"><a href="{{ page.badge.url }}">{{ page.badge.text}}</a></p>{% endif %}
    {% if progress == 'true' %}<div class="progress"><div></div></div>{% endif %}
    <script src="shower/shower.min.js"></script>
</body>
</html>
